@font-face {
  font-family: 'RobotoBold';
  src: url('../fonts/RobotoBold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RobotoBold.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/RobotoBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RobotoRegular';
  src: url('../fonts/RobotoRegular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/RobotoRegular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/RobotoRegular.ttf')  format('truetype'), /* Safari, Android, iOS */
}