@import "fonts";

$button-color: rgba(50,50,50,.7);
$button-color-active: lightgrey;
$button-bg: rgba(100,100,100,.5);

$color-bg: lightgrey;
$color-hover: rgba(250,250,250,.7);

$font-button: RobotoBold, sans-serif;
$font-text: RobotoRegular, sans-serif;
$button-size: 50px;
$text-size: 20px;
